body 
{
	
	color:rgb(19, 13, 13);
	background-image:url(images/back2.jpg);
	background-attachment: scroll;
	font-family: arial;
	margin-top: 0em;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 0px;
	
	
}

													/* SECTIONS */
#sectionTop
{
	display: flex;
	justify-content: space-around;	/*Alignement horizontal*/	
	align-items: center; 			/*Alignement vertical*/
	background-image:url(images/footer08.jpeg);
	box-shadow : 0px 40px 40px rgb(0, 0, 0);
}


section
{	
	background-image: url(images/back9.jpg);
	max-width : 100%;							
	box-shadow : 40px 40px 40px rgb(0, 0, 0);	/*ombre bordure*/
	border : 10px black inset;	/*type de bordure*/
	border-radius: 10% / 20%;	/*Arrondis bordure*/
	font-size: 120%;
	margin: 0 auto;
	padding-left: 2%;
	padding-right: 2%;
	text-align: center;
}

#sectionBot
{	
	background-image: url(images/footer-wood-background.jpg);
	border: solid black;
	height:  200px;
	block-size: 10em;
	display: flex;
	align-items: center;
	padding-left: 20px;
}


	/* GESTION DES TITRES */
h1
{	
	text-shadow: 12px 12px 30px black;	/*ombre du texte*/
	text-align: center;	/*alignement*/
	font-weight: bold;	/*en gras*/
    font-size: 40px; /* Titres de 40 pixels */
	color: white;	/*couleur du titre*/
}


h2
{
	font-size: xx-large;
	text-align: center;
	color: black;
	text-shadow: 5px 5px 50px rgb(255, 255, 255);
}

	/* PAGE FORMULAIRE */

#contact
{
	margin-top: 80px;
	margin-bottom: 0px;
	text-align: left;
	
}

.joindrechuck
{
	margin: 0 auto;
	
}
form
{
	text-align: center;
	background-color: rgba(2, 2, 2, 0.664);
	width: 500px;
	margin: 0 auto;
	border-radius: 10%;
	margin-bottom: 20px;
	padding-bottom: 10px;
	color: white;
	padding-top: 1px;
}

	/* IMAGES ET LIENS */

img	/*All pics*/
{
	border: groove black;
	border-radius: 10%;
}

#photoChuck
{
	display: flex;
	justify-content: space-around;
}

a:hover		 /*Gras quand survol*/
{
   text-decoration: bold;
   font-weight: bold;
}

